/* Body */
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
h1,
h2,
h3,
p {
  /* margin-top: 0;
  margin-bottom: 0; */
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.page_header {
  font-weight: 700;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  margin: 0 auto;
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.page_header > .container {
  display: flex;
  padding: 0 15px 0 15px;
  /* justify-content: space-between; */
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  justify-content: space-between;

  /* box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08); */
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-address {
  display: flex;
  gap: 40px;
}

.site-menu {
  display: flex;
  justify-content: left;
  align-items: center;
}
.item:last-child {
  margin-right: 0;
}

.nav_menu {
  font-weight: 500;
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item {
  padding: 24px 0;
  display: block;
}
.address_link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  padding-left: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration-line: none;
}

a:focus {
  color: #404bbf;
}

a:hover {
  color: #404bbf;
}

/* logo_web */
.logo {
  font-family: "Raleway", sans-serif;
  background: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS, #4d5ae5);

  margin-right: 76px;
}
.logo-web {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.address-style {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: lowercase;
  font-style: normal;
}
.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  width: 100%;
  height: 4px;
  content: "";
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
  display: block;
 position: absolute;
 
  bottom: -1px; 
}

/* section */
.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
  margin-top: 0;

  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 1440px;
margin: 0 auto;
background-position: center; 
}
.container_centre {
  text-align: center;
}
.section-one-head {
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  /* padding-top: 188px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 48px;

  max-width: 496px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.start-section-two {
  padding: 120px 0;
  margin-top: 0;
  margin-bottom: 0;
}

.icon-section-two {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px; 
  margin-bottom: 8px;
  border-radius: 4px;
border: 1px solid var(--LIGHT-SLATE, #8E8F99);
}

.list-section-two {
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100%- (3 * 24px) / 4);
}
.list-section-two:last-child {
  margin-right: 0;
}


.container-section-two {
  display: flex;
  gap: 24px;
  margin-bottom: 0;
}

/* section 4 */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.our-team {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
  /* background-color: #f4f4fd; */

  margin-bottom: 72px;
}
.card-our-team p {
  text-align: center;
}
.our-team-list {
  display: flex;

  gap: 24px;
}

.foto {
  background-color: #ffffff;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-foto {
  margin-top: 0;
}

.foto > .section-two {
  margin-bottom: 8px;
}

.card-our-team {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Header 3 */

.section-two {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  font-weight: 500;
  margin-bottom: 8px;
}
.card-our-team > .section-two {
  text-align: center;
  margin-bottom: 8px;
}
.section-our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
  
  min-height: 732px;
  /* max-width: 1440px; */
  margin: 0 auto;
  
}

.button-icon {
  fill: #f4f4fd;
}

.social-item-list {
 height: 40px;
 width: 40px;
 display: flex;
 text-align: center;
 
}

 .social-link-list {
  height: 100%;
  width: 100%;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%; 
  align-items: center;
  justify-content: center;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
  
}
  
.social-link-list:hover {
/* background-color: rgba(49, 208, 170, 1); */
background-color: #404bbf;
}
.social-link-list:focus {
  background-color: #404bbf;
}

.list-icon {
  display: flex;
  gap: 24px;
  margin-bottom: 0;
  justify-content: center;

}


/* section 4 */

.section-portfolio {
  padding: 120px 0 120px 0;
  margin-top: 0;
  margin-bottom: 0;
}
.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.container-portfolio li:nth-child(3n + 3) {
  margin-bottom: 0;
  margin-right: 0;
}
.list-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(100% - 48px) / 3;
}
.content-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.content-portfolio h3 {
  text-align: left;
  margin-bottom: 8px;
}
/* small_text */
.main-content {
  color: #434455;
  font-size: 14px;
  line-height: 1.4; /* 19.6px */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.for-overley {
overflow: hidden;
position: relative;
}

.list-portfolio:hover .text-overley {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.text-overley:hover {
  transform: translateY(0%);
}

.text-overley {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%; 
background: var(--IRIS, #4D5AE5);
overflow: auto;
color: var(--CLOUD, #F4F4FD);
padding: 40px 32px;

font-size: 16px;
font-weight: 400;
 line-height: 1.5;
letter-spacing: 0.02em; 

transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Button Text */
.button-style {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  font-weight: 500;
  cursor: pointer;
  min-width: 169px;
  padding: 16px 32px;
  margin-bottom: 188px;
  margin-top: 48px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  display: block;
  align-items: flex-start;
  gap: 10px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-style:hover {
  background-color: #404bbf;
}
.button-style:focus {
  background-color: #404bbf;
}

/* Body Medium */
.body_medium {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* footer */
.footer-main {
  background-color: #2e2f42;
 
  min-height: 312px;
  padding: 100px 0;
  
 
  margin: 0 auto;
}
.footer-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.logo-studio {
  color: #f4f4fd;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS, #4d5ae5);

  /* display: inline-block; */
  margin-bottom: 16px;
  justify-content: left;
  display: flex;
}

.social-media {
  color: #fff;
margin-bottom: 16px;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

.icon-footer {
display: flex;
align-items: flex-start;
gap: 16px;

}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-content {
  margin-left: 120px;
}
.list-icon-footer {
   gap: 16px;
   display: flex; 
}
.footer-hover:hover  {
  background-color: #31d0aa; 
  }
  .footer-hover:focus {
    background-color: #31d0aa; }